<!-- Libreria Jquery de Bootstrap -->
<script src="../js/bootstrap.js" type="text/javascript"></script>
<!-- SCRIPT Para que funcione el DataTable -->

 <script src="../js/jquery.js"></script>

  <script src="../js/jquery.dataTables.js" type="text/javascript"></script>
  <script src="../js/bootstrap-treeview.js"></script>
   <!-- Bootstrap Core JavaScript -->
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/validator.js"></script>

  <script src="../js/fnReloadAjax.js"></script>
      <script src="../js/access.js"></script>
  <script src="../js/FormsJS/Funcion.js"></script>
 